@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PuntoVenta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Productos">Productos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="detalleVentas">Ventas</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Bienvenido a nuestro Punto de Venta</h1>
            <p>En nuestro punto de venta podrás encontrar una amplia variedad de productos para tus necesidades diarias. Ofrecemos productos de abarrotes, limpieza, tecnología y más, todo en un solo lugar.</p>
        </div>
        <div class="col-md-6">
            <img src="~/css/PuntoVenta.png" alt="Punto de Venta" class="img-fluid rounded">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="~/css/abarrotes.jpeg" class="card-img-top" alt="Abarrotes">
                <div class="card-body">
                    <h5 class="card-title">Abarrotes</h5>
                    <p class="card-text">Descubre nuestra selección de productos de abarrotes, desde alimentos básicos hasta deliciosos snacks y bebidas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/css/limpieza.jpeg" class="card-img-top" alt="Limpieza">
                <div class="card-body">
                    <h5 class="card-title">Limpieza</h5>
                    <p class="card-text">Encuentra todo lo que necesitas para mantener tu hogar limpio y ordenado, desde productos de limpieza hasta artículos de cuidado personal.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/css/tecnologia.jpeg" class="card-img-top" alt="Tecnología">
                <div class="card-body">
                    <h5 class="card-title">Tecnología</h5>
                    <p class="card-text">Explora nuestra gama de productos tecnológicos, incluyendo dispositivos electrónicos, accesorios y mucho más.</p>
                </div>
            </div>
        </div>
    </div>
</div>