@model PuntoVenta.Models.Usuario

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="strNombre" class="control-label"></label>
        <input asp-for="strNombre" class="form-control" />
        <span asp-validation-for="strNombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.UsuCatEstado"></select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.UsuCatTipoEstados"></select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
